[Unit]
Description=CAMPSmith smarthome
After=network.target

[Service]
User=pi
WorkingDirectory=/usr/local/share/campsmith/home
ExecStart=/usr/local/bin/uvicorn smarthome_api:api --host 0.0.0.0 --port 8000
Restart=always
StandardOutput=inherit
StandardError=inherit
SyslogIdentifier=fastapi

[Install]
WantedBy=multi-user.target
